In [1]:
import torch
from torch import nn
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split

### TMDB dataset

In [2]:
TMDB_movie = pd.read_csv("/home/ramie/Desktop/Content_popularity_prediction/data/TMDB_movie_dataset_v11.csv")
TMDB_rating = pd.read_csv("/home/ramie/Desktop/Content_popularity_prediction/data/TMDB.csv")
TMDB_rating.columns = ["userId", "id", "rating", "timestamp"]
TMDB_rating

        userId    id  rating   timestamp
0            1    31     2.5  1260759144
1            1  1029     3.0  1260759179
2            1  1061     3.0  1260759182
3            1  1129     2.0  1260759185
4            1  1172     4.0  1260759205
...        ...   ...     ...         ...
99999      671  6268     2.5  1065579370
100000     671  6269     4.0  1065149201
100001     671  6365     4.0  1070940363
100002     671  6385     2.5  1070979663
100003     671  6565     3.5  1074784724

[100004 rows x 4 columns]

In [3]:
merged_df = pd.merge(TMDB_movie, TMDB_rating, on='id', how='inner')

dataset = merged_df[["userId", "id", "rating", "timestamp", "popularity","genres"]]
dataset.head(5)

   userId   id  rating   timestamp  popularity                          genres
0     311  155     4.5  1062016035     130.643  Drama, Action, Crime, Thriller
1     467  155     3.0   939064184     130.643  Drama, Action, Crime, Thriller
2     472  155     3.0   974245114     130.643  Drama, Action, Crime, Thriller
3     516  155     4.0   844688604     130.643  Drama, Action, Crime, Thriller
4     547  155     2.0  1022680052     130.643  Drama, Action, Crime, Thriller

Multilabel Encoder

In [4]:
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer

dataset = dataset.dropna(subset = ['genres'])
dataset = dataset.reset_index()

dff = dataset.copy()
genre_l = dff['genres'].apply(lambda x: x.split(','))
genre_l = pd.DataFrame(genre_l)

genre_l['genres'] = genre_l['genres'].apply(lambda x :[ y.strip().lower().replace(' ','') for y in x] )

MLB = MultiLabelBinarizer()

genre_encoded = MLB.fit_transform(genre_l['genres'])

genre_encoded_df = pd.DataFrame(genre_encoded, columns=MLB.classes_)
genre_encoded_df=genre_encoded_df.reset_index()
#mod_df = dff.drop(['genres'],axis=1)
mod_df = dff.drop('index',axis=1)
mod_df=mod_df.reset_index()


dataset = pd.concat([mod_df,genre_encoded_df],axis=1).drop('index',axis=1)

dataset = dataset.sort_values(by=['userId','timestamp'], ascending=True).reset_index()
dataset = dataset.drop('index', axis=1)

dataset.head(5)

,userId,id,rating,timestamp,popularity,genres,action,adventure,animation,comedy,...,history,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,war,western
0,1,2294,2.0,1260759108,15.781,Comedy,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2455,2.5,1260759113,9.413,"Comedy, Crime, Mystery",0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,1,1371,2.5,1260759135,38.467,Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2105,4.0,1260759139,43.030,"Comedy, Romance",0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,1,1263,2.0,1260759151,1.477,Comedy,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Data preparing

In [5]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset

columns_remove = ['userId','rating', 'timestamp', 'popularity','genres']
columns_target = ["popularity"]
#user_150 = dataset[dataset['userId']==1]

X = dataset.drop(columns_remove, axis=1).values
y = dataset['popularity'].values

In [6]:
X_tensor = torch.tensor(X, dtype=torch.float32).view(-1, 5, 4)
y_tensor = torch.tensor(y, dtype=torch.float32).view(-1, 1)

dataset = TensorDataset(X_tensor, y_tensor)
dataloader = DataLoader(dataset, batch_size=64, shuffle=True)

### LSTM

In [ ]:
class LSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(LSTMModel, self).__init__()
        self.lstm = nn.LSTM(input_size, hidden_size, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        lstm_out, _ = self.lstm(x)
        out = self.fc(lstm_out[:, -1, :])  # Get the output from the last time step
        return out

In [ ]:
model = LSTMModel(input_size=X.shape[1], hidden_size=64, output_size=1)
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [ ]:
# Training loop
epochs = 50
for epoch in range(epochs):
    for inputs, targets in dataloader:
        optimizer.zero_grad()
        outputs = model(inputs.unsqueeze(1))  # Add a time step dimension
        loss = criterion(outputs, targets)
        loss.backward()
        optimizer.step()

    print(f'Epoch {epoch+1}, Loss: {loss.item()}')

In [ ]:
model.eval()
with torch.no_grad():
    test_outputs = model(X_tensor.unsqueeze(1))  # Add a time step dimension
    print(test_outputs)

### CNN

In [7]:
import torch
import torch.nn as nn

X_tensor = torch.tensor(X, dtype=torch.float32).view(-1, 5, 4)
y_tensor = torch.tensor(y, dtype=torch.float32).view(-1, 1)

dataset = TensorDataset(X_tensor, y_tensor)
dataloader = DataLoader(dataset, batch_size=64, shuffle=True)

class CNNModel(nn.Module):
    def __init__(self):
        super(CNNModel, self).__init__()
        self.conv1 = nn.Conv1d(in_channels=5, out_channels=16, kernel_size=3)
        self.relu = nn.ReLU()
        self.pool = nn.MaxPool1d(kernel_size=2)
        self.flatten = nn.Flatten()
        self.fc1 = nn.Linear(16, 64)  
        self.fc2 = nn.Linear(64, 1)

    def forward(self, x):
        x = self.conv1(x)
        x = self.relu(x)
        x = self.pool(x)
        x = self.flatten(x)
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        x=self.relu(x)
        return x

# Instantiate the model
model = CNNModel()
criterion = nn.L1Loss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [10]:
model.state_dict()['conv1.weight'].flatten().tolist()

[-0.03678722679615021,
 -0.21043390035629272,
 -0.24307739734649658,
 -0.1445058286190033,
 0.11992589384317398,
 -0.14495788514614105,
 0.00877449382096529,
 0.08450651168823242,
 -0.13473887741565704,
 0.21349367499351501,
 -0.18500860035419464,
 0.1632033884525299,
 0.14454956352710724,
 -0.2090136557817459,
 -0.15094681084156036,
 0.12587572634220123,
 0.0038669160567224026,
 -0.00508859334513545,
 0.21823227405548096,
 -0.03020908124744892,
 0.06211255490779877,
 0.03352119401097298,
 0.1110948845744133,
 0.14601963758468628,
 -0.0029424475505948067,
 0.21727637946605682,
 -0.027779854834079742,
 -0.21609237790107727,
 -0.13598354160785675,
 -0.23977692425251007,
 -0.14513526856899261,
 -0.03876359388232231,
 -0.044036462903022766,
 -0.2022310346364975,
 -0.22766049206256866,
 0.11316891759634018,
 0.19006413221359253,
 0.0292626041918993,
 0.2219301462173462,
 0.0922548770904541,
 0.13578538596630096,
 0.13671092689037323,
 -0.13222914934158325,
 -0.003796830540522933,
 0.12640559673309326,
 -0.22058632969856262,
 -0.10240758955478668,
 0.13807430863380432,
 -0.011100762523710728,
 -0.19348043203353882,
 -0.05424150452017784,
 -0.05270008742809296,
 -0.11450937390327454,
 0.0663265734910965,
 -0.1319073587656021,
 0.11562571674585342,
 -0.07136142253875732,
 0.07706807553768158,
 0.06138233467936516,
 0.09708347171545029,
 0.16535227000713348,
 -0.1548849195241928,
 -0.03274662047624588,
 0.22478726506233215,
 0.0174277164041996,
 0.08713383972644806,
 0.2013624608516693,
 0.039083607494831085,
 0.051814280450344086,
 0.06343343108892441,
 -0.2363237738609314,
 0.0006797697860747576,
 0.2339431196451187,
 -0.25399330258369446,
 -0.13468267023563385,
 0.146229088306427,
 -0.08697061240673065,
 0.18052318692207336,
 0.011001190170645714,
 -0.2457505315542221,
 0.19879427552223206,
 0.18423058092594147,
 -0.1668626368045807,
 -0.15683408081531525,
 -0.05034774914383888,
 0.12355900555849075,
 -0.04401245713233948,
 0.1514722853899002,
 -0.08895260840654373,
 -0.23494192957878113,
 -0.10745715349912643,
 -0.07107646763324738,
 0.015283077955245972,
 0.07634179294109344,
 0.020955439656972885,
 0.058328527957201004,
 -0.06782695651054382,
 -0.04739754647016525,
 0.09826399385929108,
 0.08385226130485535,
 -0.09270915389060974,
 -0.007107495795935392,
 -0.25138944387435913,
 0.2356530874967575,
 0.22258023917675018,
 0.06724070012569427,
 0.2048386037349701,
 0.10126480460166931,
 0.17011068761348724,
 0.2342587113380432,
 -0.21764960885047913,
 -0.18357500433921814,
 0.1864578276872635,
 0.16666841506958008,
 -0.22118890285491943,
 0.11441336572170258,
 -0.13207374513149261,
 0.08670572191476822,
 -0.2302771657705307,
 0.05373505502939224,
 -0.1059504896402359,
 0.15414446592330933,
 -0.1045665368437767,
 -0.1836942434310913,
 -0.06607227027416229,
 -0.23801088333129883,
 0.0023399656638503075,
 -0.031058169901371002,
 -0.25617051124572754,
 0.04946868121623993,
 0.24764655530452728,
 0.16078686714172363,
 0.23732852935791016,
 0.0930902361869812,
 0.11382313817739487,
 -0.139189213514328,
 0.057879820466041565,
 0.21335263550281525,
 0.22001595795154572,
 -0.07424954324960709,
 -0.004765560384839773,
 -0.1472594141960144,
 0.24838733673095703,
 -0.022934697568416595,
 -0.09770780801773071,
 -0.11432844400405884,
 0.16263605654239655,
 -0.2577710747718811,
 0.1092880517244339,
 0.24573086202144623,
 -0.11120785027742386,
 0.0710151195526123,
 -0.027662552893161774,
 -0.10865507274866104,
 -0.06961914151906967,
 0.16545332968235016,
 0.1340535581111908,
 0.08180999755859375,
 0.14562177658081055,
 0.1181863471865654,
 0.05999469384551048,
 0.016473667696118355,
 0.11256572604179382,
 -0.09019503742456436,
 -0.10645444691181183,
 0.22148168087005615,
 -0.030922092497348785,
 0.07788773626089096,
 0.12366452068090439,
 -0.1366872936487198,
 0.08372347801923752,
 -0.032283633947372437,
 0.2125084102153778,
 -0.22463838756084442,
 -0.019467763602733612,
 -0.11918194591999054,
 -0.08281190693378448,
 0.19286566972732544,
 0.04504028335213661,
 -0.18868602812290192,
 0.05688976123929024,
 0.09501571953296661,
 0.046668313443660736,
 -0.012597763910889626,
 -0.24182984232902527,
 0.08715427666902542,
 -0.004909055307507515,
 0.10949834436178207,
 0.1715514361858368,
 0.1275627315044403,
 -0.0022748049814254045,
 -0.2040645182132721,
 -0.2578263282775879,
 0.17346349358558655,
 0.020625820383429527,
 0.11625932157039642,
 0.10759877413511276,
 0.23690155148506165,
 -0.24233472347259521,
 -0.11787857860326767,
 -0.22947265207767487,
 -0.21060092747211456,
 -0.015425710938870907,
 0.23142294585704803,
 0.18973512947559357,
 -0.03039969876408577,
 0.14574356377124786,
 0.1884479522705078,
 0.005496024154126644,
 -0.23463433980941772,
 0.08146951347589493,
 0.2175275683403015,
 -0.013894513249397278,
 0.16420821845531464,
 -0.16297955811023712,
 -0.04214628040790558,
 -0.06251534074544907,
 0.1657504141330719,
 -0.16910900175571442,
 -0.03990471735596657,
 -0.10837974399328232,
 -0.10799779742956161,
 0.06402378529310226,
 0.22120115160942078,
 0.013566555455327034,
 -0.12735819816589355,
 0.12802092730998993,
 -0.11700135469436646,
 0.12110632658004761,
 0.17573685944080353,
 -0.18207596242427826,
 -0.09796734154224396,
 -0.20778976380825043,
 0.045381784439086914,
 -0.17747265100479126,
 0.14664125442504883,
 0.22854578495025635,
 -0.2556930482387543,
 0.2470981627702713,
 0.11868174374103546]

In [8]:
epochs = 50
for epoch in range(epochs):
    for inputs, labels in dataloader:
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()
    print(f'Epoch {epoch+1}, Loss: {loss.item()}')

Epoch 1, Loss: 11.943387031555176
Epoch 2, Loss: 14.499452590942383
Epoch 3, Loss: 14.973130226135254
Epoch 4, Loss: 12.265000343322754
Epoch 5, Loss: 10.385112762451172
Epoch 6, Loss: 17.040306091308594
Epoch 7, Loss: 15.615387916564941
Epoch 8, Loss: 12.970855712890625
Epoch 9, Loss: 15.05125904083252
Epoch 10, Loss: 17.068418502807617
Epoch 11, Loss: 14.275951385498047
Epoch 12, Loss: 13.603226661682129
Epoch 13, Loss: 14.661144256591797
Epoch 14, Loss: 16.3986759185791
Epoch 15, Loss: 15.893856048583984
Epoch 16, Loss: 12.566644668579102
Epoch 17, Loss: 15.27790355682373
Epoch 18, Loss: 13.969049453735352
Epoch 19, Loss: 13.707160949707031
Epoch 20, Loss: 14.016097068786621
Epoch 21, Loss: 12.657710075378418
Epoch 22, Loss: 15.435323715209961
Epoch 23, Loss: 16.511064529418945
Epoch 24, Loss: 15.668145179748535
Epoch 25, Loss: 11.789725303649902
Epoch 26, Loss: 12.905048370361328
Epoch 27, Loss: 15.481194496154785
Epoch 28, Loss: 15.294709205627441
Epoch 29, Loss: 17.896902084350586
Epoch 30, Loss: 16.776243209838867
Epoch 31, Loss: 12.02380657196045
Epoch 32, Loss: 18.382001876831055
Epoch 33, Loss: 17.695371627807617
Epoch 34, Loss: 13.291434288024902
Epoch 35, Loss: 17.9167423248291
Epoch 36, Loss: 12.404693603515625
Epoch 37, Loss: 10.033323287963867
Epoch 38, Loss: 13.820210456848145
Epoch 39, Loss: 15.058064460754395
Epoch 40, Loss: 15.087629318237305
Epoch 41, Loss: 12.007711410522461
Epoch 42, Loss: 16.32678985595703
Epoch 43, Loss: 15.303370475769043
Epoch 44, Loss: 11.952339172363281
Epoch 45, Loss: 15.200016021728516
Epoch 46, Loss: 16.2255802154541
Epoch 47, Loss: 9.180855751037598
Epoch 48, Loss: 14.019789695739746
Epoch 49, Loss: 11.788032531738281
Epoch 50, Loss: 12.898758888244629

In [9]:
model.eval()
with torch.no_grad():
    test_outputs = model(X_tensor)  # Add a time step dimension
    print(test_outputs)

tensor([[0.],
        [0.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]])